@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", serif !important;
}
::selection {
  background-color: #c4103d;
  color: #fff;
}
.show {
  display: flex !important;
}
.hide {
  display: none !important;
}
.border {
  border: 1.5px solid #c4103d !important;
}
